name: country_explorer
description: A beautiful Flutter app to explore countries, continents, and African regions with detailed information.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  cupertino_icons: ^1.0.2
  firebase_core: ^2.32.0       # compatible with firebase_storage 11.3.0
  cloud_firestore: ^4.10.0
  firebase_storage: ^11.3.0
  cached_network_image: ^3.2.3



dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true